/* --- Styl dla paska menu (desktop) --- */
.sidebar {
  width: 280px;             /* Stała szerokość */
  height: 100vh;            /* Pełna wysokość ekranu */
  background-color: var(--bg-panel);
  position: sticky;         /* Przyklejenie */
  top: 0;
  z-index: 10;              /* Muszą być 'nad' tłem */
  box-shadow: var(--shadow-depth); /* Cień rzucany na środek */
  padding: 24px;
  display: flex;
  flex-direction: column;
  /* BRAK zaokrągleń (wygląd solidnego bloku) */
  border-radius: 0; 
  /* Zapobieganie kurczeniu się flexa */
  flex-shrink: 0; 
}

/* Kontener nawigacji (ten <nav>) */
.sidebar-nav {
  flex: 1;              /* Zajmij całe miejsce pod profilem */
  display: flex;        /* Stań się kontenerem Flex */
  flex-direction: column; /* Układaj dzieci w pionie */
  overflow: hidden;     /* Zabezpieczenie */
  padding-bottom: 20px; /* Mały odstęp od dolnej krawędzi ekranu */
}

/* Kontener listy przycisków (div .menuList) */
.menuList {
  flex: 1;              /* Rozciągnij się na całą wysokość .sidebar-nav */
  display: flex;        /* Też stań się Flexem */
  flex-direction: column; /* Układaj przyciski w pionie */
  gap: 10px;            /* Odstęp między przyciskami (opcjonalnie) */
  justify-content: space-evenly;
}



/* --- Styl dla przycisków --- */
.menu-btn {
  display: flex;
  align-items: center;
  flex: 1;             /* Każdy przycisk ma rosnąć, żeby wypełnić miejsce */
  gap: 16px;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 8px;
  border: none;
  background: transparent;
  color: var(--text-muted);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.2s ease;
  max-height: 80px;
}

.menu-btn svg {
  stroke-width: 1px;
  transition: stroke 0.2s ease;
}

.menu-btn:hover {
  background-color: #f1f5f9;
  color: var(--text-main);
}

.menu-btn.active {
  background-color: #e0f2fe; /* Delikatny błękit */
  color: #0284c7;            /* Mocniejszy niebieski tekst */
}

.menu-btn.active svg {
  stroke-width: 2px;
  transition: stroke 0.2s ease;
}

.menu-btn > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



/* Ukrywanie na małych ekranach */
@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}